*~

.idea/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

core/.idea/*
core/*.iml
core/target

*.iml

rabbitmq/.idea/*
rabbitmq/*.iml
rabbitmq/target

gson/.idea
gson/*.iml
gson/target

jackson/.idea
jackson/*.iml
jackson/target

jedis/.idea
jedis/*.iml
jedis/target
